# Node
node_modules
npm-debug.log*
yarn.lock
package-lock.json

# Hardhat
artifacts/
cache/
coverage/
typechain/
typechain-types/
ignition/

# Env
.env
backend/.env
frontend/.env

# Editor/OS
.DS_Store
*.swp
